{% extends 'base.html.twig' %}

{% block title %}MonCoach{% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}
    {% block headerConnected %}
        <header>
            <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="{{ path('home') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <span class="animate-fade-right hover:animate-pulse animate-once animate-ease-linear animate-normal animate-fill-forwards font-gasoek text-3xl text-transparent bg-clip-text bg-gradient-to-r to-yellow-200 from-red-400">LeCoach</span>
                    </a>
                    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">


                        <div class="relative cursor-pointer" id="avatarButton" type="button" data-dropdown-toggle="userDropdown">
                            <img class="w-10 h-10 rounded-full" src="{{ asset('avatar/avatar2.png') }}" alt="">
                            <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                        </div>

                        <!-- Dropdown menu -->
                        <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                            <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                <div class="font-gasoek truncate">{{ app.user.licencie.prenom }}</div>
                                <div class="font-gasoek truncate">{{ app.user.licencie.nom }}</div>
                            </div>
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                                <li>
                                    <a href="#" class="flex items-center px-4 py-2 font-regular hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 19">
                                            <path d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
                                            <path d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
                                        </svg>
                                        <span class="ml-2">Licenciés</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-4 py-2 font-regular hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                                            <path d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z"/>
                                        </svg>
                                        <span class="ml-2">Contacts</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="flex items-center px-4 py-2 font-regular hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                            <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
                                        </svg>
                                        <span class="ml-2">Boite Mail</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="py-1">
                                <a href="{{ path('app_logout') }}" class="font-gasoek text-red-500 block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Deconnexion</a>
                            </div>
                        </div>


                    </div>
                    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                                <a href="#" class="font-gasoek2 block text-xl py-2 px-3  rounded md:bg-transparent font-bold text-red-500 md:p-0 md:dark:text-blue-500" aria-current="page">Accueil</a>
                            </li>
                            <li>
                                <a href="#" class="font-gasoek2 block text-xl py-2 px-3  rounded hover:text-red-500 ease-in duration-150 md:p-0">Nos categories</a>
                            </li>
                            <li>
                                <a href="#" class="font-gasoek2 block text-xl py-2 px-3 rounded hover:text-red-500 ease-in duration-150 md:p-0">Nos Educateurs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    {% endblock %}
{% else %}
    {% block header %}

        <header>
            <nav class="bg-white dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
                        <span class="animate-fade-right hover:animate-pulse animate-once animate-ease-linear animate-normal animate-fill-forwards font-gasoek text-3xl text-transparent bg-clip-text bg-gradient-to-r to-yellow-200 from-red-400">LeCoach</span>
                    </a>
                    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                        <a href="{{ path('app_login') }}">
                            <button type="button" class="font-gasoek text-white bg-yellow-300 hover:bg-red-500 ease-in duration-200 focus:ring-4 focus:outline-none focus:ring-yellow-400 rounded-lg text-sm px-4 py-2 text-center">Éducateur</button>
                        </a>
                        <button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-sticky" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                            </svg>
                        </button>
                    </div>
                    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
                        <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                            <li>
                                <a href="#" class="font-gasoek2 block text-xl py-2 px-3  rounded md:bg-transparent font-bold text-red-500 md:p-0 md:dark:text-blue-500" aria-current="page">Accueil</a>
                            </li>
                            <li>
                                <a href="#" class="font-gasoek2 block text-xl py-2 px-3  rounded hover:text-red-500 ease-in duration-150 md:p-0">Nos categories</a>
                            </li>
                            <li>
                                <a href="#" class="font-gasoek2 block text-xl py-2 px-3 rounded hover:text-red-500 ease-in duration-150 md:p-0">Nos Educateurs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

    {% endblock %}
{% endif %}

{% block section1 %}
    <br>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
                <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                    <h2 class="animate-fade animate-once animate-duration-[1500ms] animate-ease-linear animate-normal animate-fill-forwards mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-4xl dark:text-white"><mark class="px-2 font-gasoek text-white hover:text-5xl ease-in duration-200 bg-yellow-300 rounded dark:bg-blue-500">Un sport</mark> <span class="hover:text-5xl ease-in duration-200  font-gasoek underline underline-offset-3 decoration-8 decoration-red-500 dark:decoration-blue-600">Un Coach</span></h2>
                    <br>
                    <p class="font-regular2 font-semibold animate-fade animate-once animate-delay-200 animate-duration-[1500ms] animate-ease-linear animate-normal font-normal mb-4">Rejoignez notre communauté dynamique et découvrez la différence d'avoir un coach qui comprend votre passion. Quel que soit votre niveau, ensemble, nous façonnons le meilleur de vous-même.</p>
                    <br>
                    <p class="animate-fade font-regular animate-once animate-delay-400s animate-duration-[1500ms] animate-ease-linear animate-normal font-semibold text-gray-900">Prêt à commencer votre voyage vers une vie plus active et épanouissante? <span class="underline decoration-red-500 hover:decoration-yellow-300 ease-in duration-100"> Trouvez votre coach dès aujourd'hui!</span></p>
                </div>
                <div class="grid grid-cols-2 gap-4 mt-8">
                    <img class="animate-fade-up animate-once animate-duration-[3000ms] animate-ease-in-out animate-normal animate-fill-forwards w-full rounded-lg" src="{{ asset('home/section1/jakob-owens-A4579vLezz8-unsplash.jpg') }}" alt="office content 1">
                    <img class="animate-fade-down animate-once animate-duration-[3000ms] animate-ease-in-out animate-normal animate-fill-forwards mt-4 w-full lg:mt-10 rounded-lg" src="{{ asset('home/section1/valentin-lacoste-Gzu0b_Ae2ck-unsplash.jpg') }}" alt="office content 2">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block section2 %}
    <section class="bg-section21 bg-cover hover:bg-section22 ease-in duration-100">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">
                <!-- Pricing Card -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white hover:scale-105 ease-in duration-200">
                    <h3 class="mb-4 text-2xl font-gasoek text-red-500 hover:text-yellow-300 ease-in duration-100">Licencie</h3>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-gasoek">{{ NombreLicencies }}</span>
                    </div>
                    <p class="font-regular text-gray-500 dark:text-gray-400">Des licenciés avisés et heureux.</p>
                </div>
                <!-- Pricing Card -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white hover:scale-110 ease-in duration-200">
                    <h3 class="mb-4 text-2xl font-gasoek text-red-600 hover:text-yellow-300 ease-in duration-100">Categories</h3>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-gasoek">+{{ NombreCategories }}</span>
                    </div>
                    <p class="font-regular text-gray-500 dark:text-gray-400">Un ensemble fou de catégories.</p>
                </div>
                <!-- Pricing Card -->
                <div class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-8 dark:bg-gray-800 dark:text-white hover:scale-105 ease-in duration-200">
                    <h3 class="mb-4 text-2xl font-gasoek text-red-500 hover:text-yellow-300 ease-in duration-100">Educateurs</h3>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-gasoek">{{ NombreEducateurs }}</span>
                    </div>
                    <p class="font-regular text-gray-500 dark:text-gray-400">Des éducateurs à vos soins.</p>
                </div>
            </div>
        </div>
    </section>
    <br>
{% endblock %}

{%block section3 %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mb-24 text-center">
                <h2 class="mb-4 text-4xl tracking-tight font-gasoek text-gray-900 dark:text-white">Un sport ? <mark class="italic bg-yellow-300 hover:bg-red-500 ease-in duration-200 rounded">Non.</mark>  Des <span class="underline underline-offset-3 decoration-8 decoration-red-500 hover:decoration-yellow-300 ease-in duration-200">Sports</span> !</h2>
                <p class="text-gray-500 font-regular sm:text-xl dark:text-gray-400">Chez <span class="font-gasoek italic hover:text-black ease-in duration-200"> LeCoach</span> nous misons sur la qualité en vous offrant une mutlitudes de sports adaptés à vos besoins.</p>
            </div>
            <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
                <div class="flex flex-col items-center">
                    <div class="flex justify-center items-center rounded-full bg-primary-100 hover:bg-yellow-100 ease-in duration-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-5 h-5 text-primary-600 hover:text-yellow-600 ease-in duration-200 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" clip-rule="evenodd"></path></svg>
                    </div>
                    <h3 class="mb-2 mt-4 text-xl font-regular dark:text-white text-center">Collectif</h3>
                    <a href="#" class="inline-flex items-center font-bold italic text-red-500 hover:text-yellow-300 ease-in duration-100">
                        Voir les catégories
                        <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 hover:bg-yellow-100 ease-in duration-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-5 h-5 text-primary-600 hover:text-yellow-600 ease-in duration-200 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M19.472 9.541a.5.5 0 0 0-.982-.1 1.308 1.308 0 0 1-1.258.96 1.394 1.394 0 0 1-1.329-.959.5.5 0 0 0-.965 0 1.394 1.394 0 0 1-2.6.136l-.046-.194.02-.139V7.5H14.5A2.5 2.5 0 0 0 17 5a2.544 2.544 0 0 0-2.521-2.5l-.5.021-.124-.351A2.5 2.5 0 0 0 11.5.5c-.439 0-.87.118-1.248.34L10 .987 9.748.84A2.472 2.472 0 0 0 8.5.5a2.5 2.5 0 0 0-2.358 1.671l-.124.351-.492-.022A2.547 2.547 0 0 0 3 5a2.5 2.5 0 0 0 2.5 2.5h2.229v1.793l-.007.085-.026.077a1.26 1.26 0 0 1-1.236.945 1.55 1.55 0 0 1-1.427-.972.5.5 0 0 0-.959.012 1.4 1.4 0 0 1-1.334.96 1.312 1.312 0 0 1-1.259-.96.52.52 0 0 0-.54-.363H.933a.5.5 0 0 0-.433.5V10a9.511 9.511 0 0 0 9.5 9.5 9.41 9.41 0 0 0 6.713-2.793 9.518 9.518 0 0 0 2.786-6.74l-.027-.426ZM6.5 13.5a1 1 0 1 1 2 0 1 1 0 0 1-2 0ZM8 17a2 2 0 0 1 4 0H8Zm4.5-2.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>
                    </div>
                    <h3 class="mb-2 text-xl font-regular dark:text-white text-center">Aventureux</h3>
                    <a href="#" class="inline-flex items-center font-bold italic text-red-500 hover:text-yellow-300 ease-in duration-100">
                        Voir les catégories
                        <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 hover:bg-yellow-100 ease-in duration-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-5 h-5 text-primary-600 hover:text-yellow-600 ease-in duration-200 lg:w-6 lg:h-6 dark:text-primary-300" aria-hidden="true" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">     <path d="M10 19C14.9706 19 19 14.9706 19 10C19 5.02944 14.9706 1 10 1C5.02944 1 1 5.02944 1 10C1 14.9706 5.02944 19 10 19Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>     <path d="M15 11C15 13.038 12.761 15.5 10 15.5C7.239 15.5 5 13.038 5 11C5 12.444 15 12.444 15 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>     <path d="M6.5 8C7.32843 8 8 7.32843 8 6.5C8 5.67157 7.32843 5 6.5 5C5.67157 5 5 5.67157 5 6.5C5 7.32843 5.67157 8 6.5 8Z" fill="currentColor"/>     <path d="M13.5 8C14.3284 8 15 7.32843 15 6.5C15 5.67157 14.3284 5 13.5 5C12.6716 5 12 5.67157 12 6.5C12 7.32843 12.6716 8 13.5 8Z" fill="currentColor"/>     </svg>                         </div>
                    <h3 class="mb-2 text-xl font-regular dark:text-white text-center">Zen</h3>
                    <a href="#" class="inline-flex items-center font-bold italic text-red-500 hover:text-yellow-300 ease-in duration-100">
                        Voir les catégories
                        <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 hover:bg-yellow-100 ease-in duration-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-5 h-5 text-primary-600 hover:text-yellow-600 ease-in duration-200 lg:w-6 lg:h-6 dark:text-primary-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M9 19V.352A3.451 3.451 0 0 0 7.5 0a3.5 3.5 0 0 0-3.261 2.238A3.5 3.5 0 0 0 2.04 6.015a3.518 3.518 0 0 0-.766 1.128c-.042.1-.064.209-.1.313a3.34 3.34 0 0 0-.106.344 3.463 3.463 0 0 0 .02 1.468A4.016 4.016 0 0 0 .3 10.5l-.015.036a3.861 3.861 0 0 0-.216.779A3.968 3.968 0 0 0 0 12a4.032 4.032 0 0 0 .107.889 4 4 0 0 0 .2.659c.006.014.015.027.021.041a3.85 3.85 0 0 0 .417.727c.105.146.219.284.342.415.072.076.148.146.225.216.1.091.205.179.315.26.11.081.2.14.308.2.02.013.039.028.059.04v.053a3.506 3.506 0 0 0 3.03 3.469 3.426 3.426 0 0 0 4.154.577A.972.972 0 0 1 9 19Zm10.934-7.68a3.956 3.956 0 0 0-.215-.779l-.017-.038a4.016 4.016 0 0 0-.79-1.235 3.417 3.417 0 0 0 .017-1.468 3.387 3.387 0 0 0-.1-.333c-.034-.108-.057-.22-.1-.324a3.517 3.517 0 0 0-.766-1.128 3.5 3.5 0 0 0-2.202-3.777A3.5 3.5 0 0 0 12.5 0a3.451 3.451 0 0 0-1.5.352V19a.972.972 0 0 1-.184.546 3.426 3.426 0 0 0 4.154-.577A3.506 3.506 0 0 0 18 15.5v-.049c.02-.012.039-.027.059-.04.106-.064.208-.13.308-.2s.214-.169.315-.26c.077-.07.153-.14.225-.216a4.007 4.007 0 0 0 .459-.588c.115-.176.215-.361.3-.554.006-.014.015-.027.021-.041.087-.213.156-.434.205-.659.013-.057.024-.115.035-.173.046-.237.07-.478.073-.72a3.948 3.948 0 0 0-.066-.68Z"/>
                        </svg>                    </div>
                    <h3 class="mb-2 text-xl font-regular dark:text-white text-center">Renforcement</h3>
                    <a href="#" class="inline-flex items-center font-bold italic text-red-500 hover:text-yellow-300 ease-in duration-100">
                        Voir les catégories
                        <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 hover:bg-yellow-100 ease-in duration-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-5 h-5 text-primary-600 hover:text-yellow-600 ease-in duration-200 lg:w-6 lg:h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path fill="currentColor" d="m18.774 8.245-.892-.893a1.5 1.5 0 0 1-.437-1.052V5.036a2.484 2.484 0 0 0-2.48-2.48H13.7a1.5 1.5 0 0 1-1.052-.438l-.893-.892a2.484 2.484 0 0 0-3.51 0l-.893.892a1.5 1.5 0 0 1-1.052.437H5.036a2.484 2.484 0 0 0-2.48 2.481V6.3a1.5 1.5 0 0 1-.438 1.052l-.892.893a2.484 2.484 0 0 0 0 3.51l.892.893a1.5 1.5 0 0 1 .437 1.052v1.264a2.484 2.484 0 0 0 2.481 2.481H6.3a1.5 1.5 0 0 1 1.052.437l.893.892a2.484 2.484 0 0 0 3.51 0l.893-.892a1.5 1.5 0 0 1 1.052-.437h1.264a2.484 2.484 0 0 0 2.481-2.48V13.7a1.5 1.5 0 0 1 .437-1.052l.892-.893a2.484 2.484 0 0 0 0-3.51Z"/>
                            <path fill="#fff" d="M8 13a1 1 0 0 1-.707-.293l-2-2a1 1 0 1 1 1.414-1.414l1.42 1.42 5.318-3.545a1 1 0 0 1 1.11 1.664l-6 4A1 1 0 0 1 8 13Z"/>
                        </svg>
                    </div>
                    <h3 class="mb-2 text-xl font-regular dark:text-white text-center">Original</h3>
                    <a href="#" class="inline-flex items-center font-bold italic text-red-500 hover:text-yellow-300 ease-in duration-100">
                        Voir les catégories
                        <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
                <div class="flex flex-col items-center">
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 hover:bg-yellow-100 ease-in duration-200 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <svg class="w-5 h-5 text-primary-600 hover:text-yellow-600 ease-in duration-200 lg:w-6 lg:h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
                        </svg>                    </div>
                    <h3 class="mb-2 text-xl font-regular dark:text-white text-center">Cardio</h3>
                    <a href="#" class="inline-flex items-center font-bold italic text-red-500 hover:text-yellow-300 ease-in duration-100">
                        Voir les catégories
                        <svg class="w-4 h-4 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
{% endblock %}

{% block footer %}
    <footer class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <span class="text-sm text-gray-900   font-gasoek sm:text-center dark:text-gray-400">© 2023 <a href="{{ path('home') }}" class="hover:underline">LeCoach™</a>. <span class="font-regular font-bold">  Tout droits résérvés.
        </span></span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="{{ path('home') }}" class="font-regular me-4 md:me-6 hover:text-gray-900 ease-in duration-200 font-bold">Acceuil</a>
            </li>
            {% if is_granted('ROLE_USER') %}
                {% if app.user.estAdmin == true %}
                    <li>
                        <a href="#" class="font-regular me-4 md:me-6 hover:text-gray-900 ease-in duration-200 font-bold">Admin</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="https://github.com/MelenL/ProjetPW-Sport" class="font-regular hover:text-gray-900 ease-in duration-200 font-bold">GitHub</a>
            </li>
        </ul>
    </footer>

{% endblock %}

{% endblock %}